@import "./button.scss";
@import "./utilities.scss";
@import "./typography.scss";
@import "./card.scss";
@import "./reviews.scss";
@import "./dentalDetail.scss";
@import "./gallery.scss";
@import "./form.scss";
@import "./contactList.scss";
@import "./navi.scss";

:root {
  --color-black: #202020;
  --color-blue: #05aff2;
  --color-white: #f2f2f2;
  --color-blue-light: #1c6e857a;
  --color-blue-dark: #0c2c357a;
  --color-blue-accent2: #00b7ff52;
  --color-blue-accent: #79d9ff28;

  --radius-round: 0.5rem;
}

::selection {
  background-color: var(--color-blue-light);
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: inherit;
  max-width: 114rem;
  margin: 0 auto;
}

header {
  padding-top: 2rem;
  position: relative;
  height: 100vh;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 0%;
  position: absolute;
  transform: translate(0, -50%);
}

.hero--image img {
  width: 60vh;
  max-width: 40rem;
  border-radius: 50%;
  z-index: 10;
}
.hero--image {
  position: relative;
}
.hero--image::before {
  z-index: 2;
  display: block;
  position: absolute;
  width: 64vh;
  height: 64vh;
  max-width: 44rem;
  max-height: 44rem;
  bottom: 0;
  content: "";
  border-radius: 50%;
  border: 1rem solid var(--color-blue);
}

.cta {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.cta a {
  font-size: 1.8rem;
  text-decoration: none;
  width: auto;
  color: var(--color-black);
}

.container {
  width: 100%;
  margin: 6rem 0;
}

.container--cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.container--reviews {
  overflow: hidden;
}

.container--dentalDetail {
  display: flex;
  border-radius: var(--radius-round);
  overflow: hidden;
}

.container--map {
  margin-bottom: 8rem;
}

#map {
  height: 80vh;
  border-radius: var(--radius-round);
  margin-bottom: 3rem;
}

.popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-round);
}
.popup h6 {
  color: var(--color-black);
}

.popup img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.container--contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  width: 100%;
  background-color: var(--color-black);
  padding: 2rem 0;
  position: absolute;
  left: 0;
}
