.heading--hero {
  font-size: 5.5rem;
  color: var(--color-black);
  font-weight: bold;
}

.heading--hero span {
  color: var(--color-blue);
}

.heading--detail {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-black);
}

.typo--smallDetail {
  font-size: 1.8rem;
  color: var(--color-black);
}
